<div class="col-lg-3">
</div>
<div class="col-lg-6">
	<form>
		<div class="legend">
			<h3>Search</h3>
		</div>
	  
	   <div class="form-group">
			<div class="input-group">
			  <span class="input-group-addon">Search</span>
			  <input type="text" name="searchString" class="form-control" placeholder="Enter Search String">
			</div>
		</div> 
		
		<div class="form-group">
			<div class="input-group">
			  <span class="input-group-addon">Filter</span>
				 <select name="arFilter" class="form-control">
				  <option value="arno">AR No.</option>
				  <option value="sales_no">Receivable No.</option>
				  <option value="amount">Amount</option>
				  <!-- option value="date">Date</option -->
				  <option value="name">Name of Pax</option>
				  <option value="accountname">Account Name</option>
				  <option value="contact">Contact Person</option>
				</select>
			</div>
		</div>
		
		
		<div class="form-group">
			<div class="input-group">
			  <span class="input-group-addon">Conversion</span>
				 <select name="conversion" class="form-control">
				  <option value="PHP">PHP</option>
				  <option value="USD">USD</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">	
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>
 </div><!-- /.col-lg-6 -->
<div class="col-lg-3">
</div>