<div class="col-md-2" ></div>
<div class="col-md-8" >

	<h3>Selected ARs <small>list</small></h3>
	<table class="table table-hover here">
		<tr>
			<th> AR No </th>
			<th> Sales No </th>
			<th> Status </th>
			<th> Sales </th>
			<th> Payment </th>
			<th> Payment </th>
			<th> AWT </th>
			<th> Action </th>
	    </tr>
	</table>
	
	<form>
		<table class="table table-hover">
			<tr>
				<th style="text-align:right"> <b>Total:</b> </th>
				<th class="total-sales"> 0.00 </th>
			</tr>
			<tr>
				<td colspan=2 style="text-align:center"> <button type="submit" class="btn btn-success create-collection">Create Collection</button> </td>
			</tr>
			
		</table>
	</form>
	
</div>
<div class="col-md-2" ></div>